@using Projecte.Data.Entities

@model Projecte.Data.Entities.Player

@{
    ViewBag.Title = "Registre";
}

<h2>Registre</h2>

@{
    //Javascript models inclusion

    JS.AddModel(new
    {
        CreatePlayer = Url.Action("CreatePlayer", "Player"),    
        //GetGender = Url.Action("GetGender", "Player")

    }, "URLS");

}

@JS.IncludeSelf(Model, true)


<div ng-controller="RegistreCtrl">
    
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Nom</label>
            <div class="controls">
                <input type="text" ng-model="model.Name" placeholder="Nom"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <input type="text" ng-model="email" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
                <input type="password" ng-model="Pass1" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Repeteix el password</label>
            <div class="controls">
                <input type="password" ng-model="Pass2" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Sexe</label>
            <div class="controls">
                <select ng-model="model.Gender">
                    <option value="1">Home</option>
                    <option value="0">Dona</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">     
                <button type="button" class="btn" ng-click="CreatePlayer()">Registrar</button>
            </div>
        </div>
        
    </form>
    
    {{model}}
</div>
